<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Contact Details</h6>
      {% include address.html %}
      <ul class="nospace btmspace-10">
        <li class="btmspace-10"><span class="fa fa-phone"></span> {{site.phone}}</li>
        <li><span class="fa fa-envelope-o"></span> <a href="mailto:{{site.email}}">Email Us</a></li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/bottlebrushBackpackers"><i class="fa fa-facebook"></i> Like us on Facebook</a></li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Quick Links</h6>
      <ul class="nospace linklist">
        <li><a href="{{site.baseurl}}/rates">Rates</a></li>
        <li><a href="{{site.baseurl}}/rooms">Rooms</a></li>
        <li><a href="{{site.baseurl}}/facilities">Facilities</a></li>
        <li><a href="{{site.baseurl}}/getting-around">Getting Around</a></li>        
      </ul>
    </div>        
    <div class="one_half">
      <div class="fb-page" data-href="https://www.facebook.com/bottlebrushBackpackers" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/bottlebrushBackpackers"><a href="https://www.facebook.com/bottlebrushBackpackers">Bottlebrush Backpackers</a></blockquote></div></div>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; {{ site.time | date: "%Y" }} - All Rights Reserved - <a href="/">{{ site.copyright }}</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS -->
<script src="{{site.baseurl}}/layout/scripts/jquery.min.js"></script>
<script src="{{site.baseurl}}/layout/scripts/jquery.backtotop.js"></script>
<script src="{{site.baseurl}}/layout/scripts/jquery.mobilemenu.js"></script>
<script src="{{site.baseurl}}/layout/scripts/jquery.flexslider-min.js"></script>
<!-- JavaScript and Analytics -->
{% include analytics.html %}