<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=497066557142230";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="wrapper row1">
<header id="header" class="clear"> 
    
    <div id="logo" class="fl_left">
      <h1><a href="{{site.baseurl}}/">{{ site.title }}</a></h1>
    </div>
    
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a href="{{site.baseurl}}/rates">Rates</a></li>
        <li><a href="{{site.baseurl}}/rooms">Rooms</a></li>
        <li><a href="{{site.baseurl}}/facilities">Facilities</a></li>
        <li><a href="{{site.baseurl}}/getting-around">Getting Around</a></li>
      </ul>
    </nav>    
  </header>
</div>