<div class="wrapper row6">
  <section id="cta" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h2 class="heading">Make a booking Now</h2>

      <div class="btmspace-15"><strong>Shared Dorms</strong> - <a href="http://www.hostelworld.com/hosteldetails.php/Bottlebrush-Backpackers/Cessnock/100219" target="_blank">Book online</a></div>

      <div class="btmspace-5"><strong>For private room and custom group booking enquiries, please contact</strong></div>
      <div><span class="fa fa-phone"></span> {{site.contact_person}} on {{site.phone}}</div>
      <div><span class="fa fa-envelope"></span> Email <a href="mailto:{{site.email}}">info@bottlebrushbackpackers.com</a></div>
    </div>
    <!-- <div class="one_quarter"><a class="btn" href="{{site.baseurl}}/booking">Book Now <span class="fa fa-arrow-right"></span></a></div> -->
    <!-- ################################################################################################ -->
  </section>
</div>