<div class="wrapper row6">
  <section id="cta" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <a href="http://www.booking.com/hotel/au/bottlebrush-backpackers.html" target="_blank">
        <h2 class="heading">Book Now <span class="fa fa-arrow-right"></span></h2>
      </a>
    </div>
    <!-- <div class="one_quarter"><a class="btn" href="{{site.baseurl}}/booking">Book Now <span class="fa fa-arrow-right"></span></a></div> -->
    <!-- ################################################################################################ -->
  </section>
</div>